a { 
    color: inherit; 
    text-decoration: none;
} 
input{
    background-color: #2F4D7C;
    border:1px dotted rgb(75, 102, 201);
    color: white;
    margin: 25px;
    font-size: 20px;
    position: relative;
    top: -20px;
}
::placeholder{
    color:rgb(205, 221, 245);
    font-size: 20px;
}
.aLocation{
    background-color: #e3e6ea;
    margin-bottom: 10px;
    height: 100px;
    z-index: -1;
}
.rtllocationListImage{
    /* width: 50px; */
    height: 65px;
    float: right;
    padding: 5px;
    padding-top: 10px;
}
.ltrlocationListImage{
    /* width: 50px; */
    height: 65px;
    float: left;
    padding: 5px;
    padding-top: 10px;
}  
.aLocationsText{
    padding: 10px;
    max-height: 4em;
    line-height: 1em;
    overflow: hidden;
}  
#Nav{
    background-color: #eff0f2;
    z-index: 1; 
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}
.navbarList{
    border: 2px solid #e3e3e5;
    margin-top: 20px;
    padding: 10px;
}
#footer{
    background-color: #2F4D7C;
    color: white;
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8%;
    display: flex;
    justify-content: flex-start;
}
.footerIcon{
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}
.weather{
    font-size: 1.1em;
    font-family: cursive;
    margin-top: auto;
    margin-bottom: auto;
}
#NavBar_icons{
    margin:10px;
}
.header{
    display: flex;
    background-color: #2F4D7C;
    height: 50px;
    padding:2px;
}
.overflow{
    width:95%; 
    overflow-y:scroll; 
    position: absolute;;
    height: 90%;
}
#linkToGoTo{
    border-radius: 10px;
    border: 1px solid black;
}
.goToList{
    list-style-type: none;
    border: 2px solid #f4f5fc;
    margin: 15px;
    padding: 5px;
    border-radius: 15%;
}

/* .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */ 